<%= content_tag(:h2, "Viewing thumb ##{@thumb.id} for row ##{@row.id}") %>

<p>Label: <%= @thumb.label %></p>
<p>Image Path: <%= @thumb.image_path %></p>
<p>Active: <%= (@thumb.active) ? 'Yes' : 'No' %> </p>

<%= link_to 'Edit Thumb', edit_admin_row_thumb_path %>
<%= link_to 'Delete Thumb', [:admin, @row, @thumb], method: :delete %>
