<%= form_for([:admin, @row]) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :link_url %>
    <%= f.text_field :link_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
