<%= content_tag :h1, "View Row##{@row.id}" %>
<p>Title: <%= @row.title %></p>
<p>Description:<br><%= @row.description %></p>
<p>Link url: <%= @row.link_url %></p>

<%= link_to 'Edit Row', edit_admin_row_path(@row) %>

<%= content_tag :h3, "Row thumbs" %>

<div class="thumbs">
  <%= render @row.thumbs %>
</div>

<%= link_to 'Create new thumb', new_admin_row_thumb_path(@row) %>