<h1>New row</h1>

<%= form_for(@row) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :link_url %>
  <%= f.text_field :link_url %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>